<html>
<head>
    <title>Administration</title>
</head>
<body>
    <table>
        <tr>
            <th>
                User Emails
            </th>
            <th>
                Full Name
            </th>
            <th>
                Phone No.
            </th>
        </tr>
        {{#each users}}
            <tr>
                <td>
                    {{this.email}}
                </td>
                <td>
                    {{this.fullName}}
                </td>
                <td>
                    {{this.phoneNumber}}
                </td>
            </tr>
        {{/each}}
    </table>
     <form action="/logout">
        <button type="submit">Logout</button>
    </form>
</body>
</html>
